* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #0b1d2e;
  max-width: 954px;
  margin: 93px auto;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.1s ease-in;
}

a:hover {
  color: #76c3ef;
}

.active-path {
  color: #76c3ef;
}
